<%- include("partials/header.ejs") %>

    <h1>Blog</h1>

   <a href="/compose">Compose a Blog</a>

   <% if (locals.data) { %>
    <% for (let i  = 0; i < data.length; i++){ %>
        <ul>
            <li><%= data[i]['title'] %></li>
        </ul>
    <% } %>
  <% } else { %>
    <p>No current blog</p>
  <% } %>

<%- include("partials/footer.ejs") %>